.flex-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-grid-item {
    height: 80px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blank {
    height: 0;
  }
  
  /* colors by clrs.cc*/
  .flex-grid-item:nth-child(1) {
    background-color: #001f3f;
    color: white;
  }
  
  .flex-grid-item:nth-child(2) {
    background-color: #0074D9;
    color: white;
  }
  
  .flex-grid-item:nth-child(3) {
    background-color: #7FDBFF;
  }
  
  .flex-grid-item:nth-child(4) {
    background-color: #39CCCC;
  }
  
  .flex-grid-item:nth-child(5) {
    background-color: #3D9970;
    color: white;
  }
  
  .flex-grid-item:nth-child(6) {
    background-color: #2ECC40;
  }
  
  .flex-grid-item:nth-child(7) {
    background-color: #01FF70;
  }
  
  .flex-grid-item:nth-child(8) {
    background-color: #FFDC00;
  }
  
  .flex-grid-item:nth-child(9) {
    background-color: #FF851B;
  }
  
  .flex-grid-item:nth-child(10) {
    background-color: #FF4136;
    color: white;
  }
  
  .flex-grid-item:nth-child(11) {
    background-color: #85144b;
    color: white;
  }
  
  .flex-grid-item:nth-child(12) {
    background-color: #F012BE;
    color: white;
  }
  
  .flex-grid-item:nth-child(13) {
    background-color: #B10DC9;
    color: white;
  }
  
  .flex-grid-item:nth-child(14) {
    background-color: #111;
    color: white;
  }
  
  .flex-grid-item:nth-child(15) {
    background-color: #aaa;
  }
  
  .flex-grid-item:nth-child(16) {
    background-color: #ddd;
  }